.battleground{
    width: 100%;
}

.battlegroud-letra{
    margin: 10px;
    transition-duration: 0.4s;
    font-size:350%;
    color:red;
    -webkit-text-stroke: 2px black;
    font-family: 'HortaRegular';
  }
  
  .battlegroud-letra:hover{
    transform: scale(1.05);
    color: #F1CF3B;
  }

.battleground-card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .ground-container {
    position: relative;
    transition-duration: 0.4s;
  }
  
  .bottomright {
    position: absolute;
    background-image: linear-gradient(#a40606, #d98324);
    -webkit-text-stroke: 1px black;
    color:white;
    font-family: fantasy;
    min-width: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    bottom: 7px;
    right: 62px;
    font-size: 26px;
  }

  .battleground-card{
    width: 140px;
    margin-left: 50px;
    margin-right: 50px;
    transition-duration: 0.4s;
  }
  
  .battleground-card:hover{
    transform: scale(1.1);
  }
  
  .battleground-card-enemy{
    width: 140px;
    margin-left: 50px;
    margin-right: 50px;
    transform: scale(1.1);
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
    transition-duration: 0.4s;
  }

  .battleground-card-user{
    width: 140px;
    margin-left: 50px;
    margin-right: 50px;
    transform: scale(1.1);
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(215deg) saturate(600%) contrast(0.8);
    transition-duration: 0.4s;
  }
  

.App-battleground{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('../../../../public/background.jpg');
    background-size:cover;
  }