.battleground{
    width: 100%;
}

.battlegroud-letra{
    margin: 10px;
    transition-duration: 0.4s;
    font-size:350%;
    color:red;
    -webkit-text-stroke: 2px black;
    font-family: 'HortaRegular';
  }
  
  .battlegroud-letra:hover{
    transform: scale(1.05);
    color: #F1CF3B;
  }

.battleground-card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .battleground-card-enemy{
    width: 12%;
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
    transition-duration: 0.4s;
  }
  
  .battleground-card-enemy:hover{
    transform: scale(1.1);
  }

  .battleground-card-user{
    width: 12%;
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(215deg) saturate(600%) contrast(0.8);
    transition-duration: 0.4s;
  }
  
  .battleground-card-user:hover{
    transform: scale(1.1);
  }

.App-battleground{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('../../../../public/background.jpg');
    background-size:cover;
  }