.loja-letra{
  margin: 10px;
  transition-duration: 0.4s;
  font-size:300%;
  color:#F1CF3B;
  -webkit-text-stroke: 1px black;
  font-family:fantasy;
}

.loja-letra:hover{
  transform: scale(1.05);
  color: #F1CF3B;
}

.loja-appbutton{
  font-size:500%;
  transition-duration: 0.4s;
  margin: 2px;
  font-family: 'HortaRegular';
  color: #F1CF3B;
  /* -webkit-text-stroke: 1px white; */
}

.loja-appbutton:hover{
  color: #8652ff;
}

.loja-button {
  background-color: black;
  border-radius: 15px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow:visible;
}

.loja-icon{
  transition-duration: 0.8s;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.loja-icon:hover{
  display: flex;
  color:red;
  background-color: transparent;
  transform: scale(1.1);
  cursor: pointer;
}

.loja-button:focus{
  outline: none;
}

.pack-oppening{
  width: 100%;
}
.pack-container{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content:center;
  }
  
  .loja{
      width: 50%;
  }

  .loja-container {
    position: relative;
    text-align: center;
    color: #F1CF3B;
    transition-duration: 0.4s;
  }

  .loja-container:hover {
    transform: scale(1.1);
    color: #8652ff;
  }

  .centered {
    position: absolute;
    font-family: 'HortaRegular';
    font-size: 70px;
    background: -webkit-linear-gradient(#f5af19, #1C6FF8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .packs{
    width: 50%;
  }
  
  .market:hover{
    transform: scale(1.1);
    color: red;
  }

  .market{
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition-duration: 0.4s;
  }

  .label{
    font-family: 'HortaRegular';
    font-size: 40px;
    align-items: center;
    color: #ffff;
    -webkit-text-stroke: 2px #8652ff;
  }

  